.header {
    background-color: lightblue;
    padding: 20px;
 }

 .name {
    text-align: center;
 }

h1 {
    color: white;
    font-family: cursive;
}

.selector{
    list-style-type: none;
    margin: 20px auto;
    font-family: cursive;
    width: 350px; 
    padding: 10px; 
    border: 2px solid lightblue;
    border-radius: 5px; 
    font-size: 16px    
}

h2{
    font-weight: 700;
}

 #Bio{
    font-style: italic;
    list-style-type: none;
    margin: 20px auto;
    font-family: cursive;
    width: 1500px; 
    padding: 10px; 
    border: 2px solid #ADD8E6;
    border-radius: 5px; 
    font-size: 16px
 }

 #Skills{
    margin-bottom: -1%;
 }

.list {
    font-family: cursive;
    list-style-type: none;
    width: 4000px;
    padding: 10px; 
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    font-size: 16px; 
    text-align: left;
    margin: 20px auto; 
    margin-bottom: -.10%;
    text-indent: -30px;
 }

.list2 {
    font-family: cursive;
    list-style-type: none;
    width: 350px; 
    padding: 10px; 
    border: 2px solid #ADD8E6;
    border-radius: 5px; 
    font-size: 16px
}
    .list3 {
    font-family: cursive;
    list-style-type: none;
    width: 350px; 
    padding: 10px; 
    border: 2px solid lightblue;
    border-radius: 5px; 
    font-size: 16px
}

 .footer{
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    color: white;
    font-family: cursive;
 }